/blazingcache-core/target/
/blazingcache-jcache/target/
/blazingcache-services/target/
/blazingcache-website/target/
/blazingcache-site-skin/target/
/target/
**/.checkstyle
**/.classpath
**/.pmd
**/.project
**/.settings/
**/.DS_Store/
/.idea/
**/*.iml
/.vscode/
