language: java
sudo: false

cache:
  directories:
  - "$HOME/.m2"

jobs:
  include:
  - stage: test
    jdk: openjdk17
    script: mvn verify -Dmaven.test.redirectTestOutputToFile=true jacoco:report coveralls:report

branches:
  only:
  - master
